{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-card">

    <h2 class="fw-bold mb-2">Welcome back</h2>

    <p class="text-muted mb-4">
        Manage your money in one place.
    </p>

    <form method="post">

        <label class="form-label">Email</label>

        <input
            class="form-control mb-3"
            type="email"
            name="email"
            required
        >

        <label class="form-label">Password</label>

        <input
            class="form-control mb-4"
            type="password"
            name="password"
            required
        >

        <button class="btn btn-primary w-100">
            Login
        </button>

    </form>

    <p class="text-center mt-3 mb-0">
        New user?
        <a href="{{ url_for('register') }}">
            Create account
        </a>
    </p>

</div>

{% endblock %}
